<div>
	<form [formGroup]="absenceForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-md-6">

				<!-- <input type="hidden" formControlName="userId" class="form-control"/> -->

				<input type="hidden" formControlName="absenceId" class="form-control"/>

				<div class="form-group">
					<label>Employee Name</label>

					<mat-form-field class="example-full-width">
						<input matInput placeholder="Employee Name" readonly formControlName="employeeName" [value]="employeeName">
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Type</label>
					<mat-form-field>
						<mat-select placeholder="Choose a type" formControlName="type">
						  <mat-option *ngFor="let type of types" [value]="type.value">
							{{type.viewValue}}
						  </mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group col-50">
					<label>Start Date</label>
					<mat-form-field>
						<input #startDateValue matInput formControlName="startDate" [matDatepicker]="startDate" [min]="startMinDate" [max]="startMaxDate" placeholder="Choose a date" (dateChange)="dateChanged(startDateValue.value, endDateValue.value)" disabled>
						<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
						<mat-datepicker #startDate disabled="false"></mat-datepicker>
					  </mat-form-field>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group col-50">
					<label>End Date</label>
					<mat-form-field>
						<input #endDateValue matInput formControlName="endDate" [matDatepicker]="endDate" [min]="endMinDate" placeholder="Choose a date" (dateChange)="dateChanged(startDateValue.value, endDateValue.value)" disabled>
						<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
						<mat-datepicker #endDate disabled="false"></mat-datepicker>
					  </mat-form-field>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Total Days" readonly [value]="totalDays">
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<label>Reason</label>
				<mat-form-field>
					<textarea matInput 
					placeholder="Reason" 
					formControlName="reason">
					</textarea>
				</mat-form-field> 
			</div>
		</div>

		<div class="form-group">
			<button mat-raised-button color="primary">Submit</button>
		</div>
	</form>
</div>

<absence-list (messageFromChild)="onMessageRecieved($event)"></absence-list>
