#accordion h3 {
	background: #fff;
    color: #7d7d7d;
    border: 1px solid #7d7d7d;
}

#accordion .ui-accordion-content {
	border: 1px solid #7d7d7d;
}

#accordion .ui-accordion-header-icon {
	float:right;
	margin-top: 1px;
}

.action-icon-wrapper {
	text-align: right;
	a {
		margin-right:10px;
	}
}

.button-holder {
	text-align:right;

	.btn-primary {
		background: #991f3d;
		border: 1px solid #991f3d;
		
		&:hover {
			background: #991f3d;
			border: 1px solid #991f3d;
		}
		
	}
} 

.form-control {
	background:#fff;
	
	&.disabled {
		background:#f1f2f5;
	}
}

.list-view-icon-wrapper {
	float:right;
	
	i {
		color: blue;
	}
}