<section class="absence-list">
	<h2>Leave List</h2>
	<mat-accordion>
		<mat-expansion-panel (opened)="panelOpenState = true"
							 (closed)="panelOpenState = false" *ngFor="let absence of userAbsence.userAbsence">
		  <mat-expansion-panel-header>
			<mat-panel-title>
			  {{absence.type}}
			</mat-panel-title>
			<mat-panel-description>
			  From {{absence.startDate}} to {{absence.endDate}}
			</mat-panel-description>
		  </mat-expansion-panel-header>
		  

		  <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<p><strong>Start Date:</strong>{{absence.startDate}} &nbsp; 
					<strong>End Date:</strong>{{absence.endDate}} </p>
				 <p><strong>Description:</strong>{{absence.reason}}</p>
			</div>
			<div class="col-md-2 action-icon-wrapper">
				<mat-icon (click)="editLeave(absence.absenceId);">create</mat-icon>
				<mat-icon (click)="deleteLeave(absence.absenceId);">delete</mat-icon>
			</div>
		</div>

		</mat-expansion-panel>
	  </mat-accordion>
	  
</section>